@{
                /**/

                Layout = null;
                ViewBag.Title = "中智上海通讯";
}
@model List<ZJ.App.Entity.ArticleEntity>
<!DOCTYPE html
          PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>中智通讯</title>
</head>

<body topmargin="0">
    <center>
        <!-- <img src="http://info.ciicsh.com/ciictongxun/{0}/mail/images/index.jpg" border="0" usemap="#Map" /> -->
        <img src="images/index.jpg" border="0" usemap="#Map" />
        <map name="Map" id="Map">
            <area shape="rect" coords="48,78,145,112" href="http://info.ciicsh.com/ciictongxun/{0}/index.html" />
            <area shape="rect" coords="149,79,264,111"
                  href="http://info.ciicsh.com/ciictongxun/{0}/news_list_jt.html" />
            <area shape="rect" coords="270,76,386,110"
                  href="http://info.ciicsh.com/ciictongxun/{0}/news_list_gs.html" />
            <area shape="rect" coords="394,79,515,111"
                  href="http://info.ciicsh.com/ciictongxun/{0}/news_list_yw.html" />
            <area shape="rect" coords="517,77,642,108"
                  href="http://info.ciicsh.com/ciictongxun/{0}/news_list_jiaojuguoqi.html" />
            <area shape="rect" coords="667,374,712,398"
                  href="http://info.ciicsh.com/ciictongxun/{0}/news_list_jt.html" />
            <area shape="rect" coords="104,405,658,427" href="http://info.ciicsh.com/ciictongxun/{0}/jt01.html" />
            <area shape="rect" coords="103,428,660,452" href="http://info.ciicsh.com/ciictongxun/{0}/jt02.html" />
            <area shape="rect" coords="111,454,671,476" href="http://info.ciicsh.com/ciictongxun/{0}/jt03.html" />
            <area shape="rect" coords="660,553,708,576"
                  href="http://info.ciicsh.com/ciictongxun/{0}/news_list_gs.html" />
            <area shape="rect" coords="109,591,616,613" href="http://info.ciicsh.com/ciictongxun/{0}/gs01.html" />
            <area shape="rect" coords="110,615,616,635" href="http://info.ciicsh.com/ciictongxun/{0}/gs02.html" />
            <area shape="rect" coords="111,640,617,660" href="http://info.ciicsh.com/ciictongxun/{0}/gs03.html" />
            <area shape="rect" coords="664,729,709,751"
                  href="http://info.ciicsh.com/ciictongxun/{0}/news_list_yw.html" />
            <area shape="rect" coords="111,766,654,787"
                  href="http://info.ciicsh.com/ciictongxun/{0}/yw_wq01.html" />
            <area shape="rect" coords="111,791,654,811"
                  href="http://info.ciicsh.com/ciictongxun/{0}/yw_wq02.html" />
            <area shape="rect" coords="110,814,653,833" href="http://info.ciicsh.com/ciictongxun/{0}/yw_wq03.html" />
            <area shape="rect" coords="111,837,654,856" href="http://info.ciicsh.com/ciictongxun/{0}/other.html" />
            <!-- <area shape="rect" coords="110,815,656,837" href="http://info.ciicsh.com/ciictongxun/{0}/yw_wq03.html" /> -->
        </map>
    </center>
</body>

</html>