<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <!--中启用 Unobtrusive JavaScript 功能-->
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="RouteDebugger:Enabled" value="false" />
  <add key="UploadTmp" value="uploadTmp/" />
  <!--某一期文章图片目录-->
  <add key="AriticleImagePath" value="newsimg/" />
  <!--某一期静态文件输出目录-->
  <add key="HtmlOutput" value="~/HtmlOutput/" />
  <!--生产默认,主要用于邮件页面模板替换IndexEmail.cshtml-->
  <add key="ProductDiretory" value="20191204" />
  <!--File Upload Limit Size(单位K) 10M-->
  <add key="LimitedFileSize" value="10000000"/>
  <!--允许上传的附件类型-->
  <add key="AllowUpLoadFile" value="jpg,jpeg,gif,png,bmp,doc,docx,pdf,zip,rar" />
</appSettings>
