<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--<alias alias="IMyTest" type=", CCMS.Contract"/>
    <alias alias="MyTest" type="CCMS.BLL.MyTest, CCMS.BLL"/>-->
   <container>
     <register type="CCMS.Contract.IMenuContract, CCMS.Contract" mapTo="CCMS.BLL.MenuBLL, CCMS.BLL" />
     <register type="CCMS.Contract.ICorpInfoContract, CCMS.Contract" mapTo="CCMS.BLL.CorpInfoBLL, CCMS.BLL" />
     <register type="CCMS.Contract.IUserInfoContract, CCMS.Contract" mapTo="CCMS.BLL.UserInfoBLL, CCMS.BLL" />
     <!--<register type="CCMS.Contract.IOtherContract, CCMS.Contract" mapTo="CCMS.BLL.DictionaryBLL, CCMS.BLL" />-->
     <register type="CCMS.Contract.IReportServiceContract, CCMS.Contract" mapTo="CCMS.BLL.ReportServiceBLL, CCMS.BLL" />
     <register type="CCMS.Contract.ICacheContract, CCMS.Contract" mapTo="CCMS.BLL.CacheBLL, CCMS.BLL" />
     <register type="CCMS.Contract.IWeiduContract, CCMS.Contract" mapTo="CCMS.BLL.WeiduBLL, CCMS.BLL" />
     <register type="CCMS.Contract.IModelContract, CCMS.Contract" mapTo="CCMS.BLL.ModelBLL, CCMS.BLL" />
     <register type="CCMS.Contract.IFeedBackContract, CCMS.Contract" mapTo="CCMS.BLL.FeedBackBLL, CCMS.BLL" />
     <register type="CCMS.Contract.IProjectContract, CCMS.Contract" mapTo="CCMS.BLL.ProjectBLL, CCMS.BLL" />
     <register type="CCMS.Contract.ISelectionContract, CCMS.Contract" mapTo="CCMS.BLL.SelectionBLL, CCMS.BLL" />
     <!--<register type="CCMS.Contract.ICompanyContract, CCMS.Contract" mapTo="CCMS.BLL.CompanyInfoBLL, CCMS.BLL" />
     -->
     <!--<register type="CCMS.Contract.IAUTHContract, CCMS.Contract" mapTo="CCMS.BLL.AuthBLL, CCMS.BLL" />-->
   </container>
  </unity>

</configuration>
