@{
    ViewBag.Title = "Category List";
}

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>PCategoryName</th>
            <th>CategoryName</th>
            <th>Order</th>
        </tr>
    </thead>
</table>
<div class="row">
    <div class="col-md-2">Id</div>
    <div class="col-md-2">PCategoryName</div>
    <div class="col-md-2">CategoryName</div>
    <div class="col-md-2">Order</div>
</div>


<form id="signupForm"  method="get" >
    <div class="row">
        <div class="col-md-2" id="categoryId"></div>
        <div class="col-md-2" id="pcategoryName"></div>
        <div class="col-md-2"><input type="text" class="form-control input-sm" id="category" name="category" data-model="category.CategoryName" /></div>
        <div class="col-md-2"><input type="text" class="form-control input-sm" id="order" name="order" data-model="category.Order" /></div>
        <input type="hidden" id="hdCategoryId" data-model="category.Id" />
        <div class="col-md-2">
            <div class="pull-right">
                <input class="" btn btn-sm btn-primary" type="submit" value="保存">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="error">
            </div>
        </div>
    </div>
</form>

@section Styles {
    @Styles.Render("~/Content/dataTablesStyles")
    <style type="text/css">

    </style>
}

@section scripts {
    @Scripts.Render("~/bundles/dataTables")
    @Scripts.Render("~/Scripts/common.js")
    @Scripts.Render("~/Scripts/ControlJS/category_index.js")
}