<table width="800" border="0" align="center" cellpadding="0" cellspacing="0" class="footer">
    <tr>
        <td width="44" height="60" valign="top">&nbsp;</td>
        <td align="left" valign="top">Copyright 2018 CIICSH</td>
        <td align="right" valign="top">总策划：单为民 编辑：刘健 江丽 陈海宁 王君 崔雪苗</td>
        <td width="45" valign="top">&nbsp;</td>
    </tr>
</table>
