<table width="800" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
    <tr>
        <td width="44" valign="top"><img src="./images/tx_01.jpg" width="44" height="78" /></td>
        <td width="256" valign="top"><a href="./index.html" target="_top"><img src="./images/logo.jpg" width="256" height="78" /></a></td>
        <td valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="30" align="right" style="font-family:Arial, Helvetica, sans-serif;"><strong>@ViewBag.JournalName，总 @ViewBag.JournalNo 期</strong></td>
                </tr>
            </table>
        </td>
        <td width="45" valign="top"><img src="./images/tx_04.jpg" width="45" height="78" /></td>
    </tr>
</table>
<table width="800" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
    <tr>
        <td align="center"><img src="./images/tx_06.png" width="711" height="33" border="0" usemap="#Map" /></td>
    </tr>
    <tr>
        <td align="center"><img src="./images/tx_08.jpg" width="800" height="17" /></td>
    </tr>
</table>
<map name="Map" id="Map">
    <area shape="rect" coords="2,0,82,31" href="./index.html" target="_top" />
    <area shape="rect" coords="85,1,212,31" href="./news_list_jt.html" target="_top" />
    <area shape="rect" coords="215,3,341,31" href="./news_list_gs.html" target="_top" />
    <area shape="rect" coords="344,2,471,32" href="./news_list_yw.html" target="_top" />
    <area shape="rect" coords="473,1,598,31" href="./news_list_jiaojuguoqi.html" target="_top" />
    <!--<area shape="rect" coords="601,2,709,30" href="../hangyezixun.html" target="_top" />-->
</map>